:root {
  --black: #444;
}

.cell {
  width: 18px;
  height: 18px;
  position: fixed;
  padding: 0;
  margin: 0;
  transform: translateX(-50%) translateY(-50%);
  border: 4px solid transparent;

  &.north {
    border-top: 2px solid var(--black);
  }

  &.east {
    border-right: 2px solid var(--black);
  }

  &.west {
    border-left: 2px solid var(--black);
  }

  &.south {
    border-bottom: 2px solid var(--black);
  }
}

.player {
  position: fixed;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  transform: translateX(-50%) translateY(-50%);

  transition: transform 2s;
}

#player-list {
  position: fixed;
  top: 0;
  right: 0;
  width: 10rem;
  height: auto;
  background: #ddd;
  padding: 5px;

  h3 {
    margin: 2px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      margin: .25rem 0;
      align-items: center;

      .ico {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        display: inline;
        margin: .25rem .5rem;
      }
      .name {
        margin: 0;
        padding: 0;
        display: inline;
      }
    }
  }
}
